In [1]:
#Print nmber from 1 to 5 ing a while loop.
i=0
while i<5:
    i += 1
    print(i)

1
2
3
4
5

In [2]:
#Calclate the m of nmber from 1 to 10 using a while loop.
num = int(input())

if num < 0:
    print("Enter a positive number")


else:
    sum = 0
   # use while loop to iterate until zero
    while(num > 0):
        sum += num
        num -= 1

    print("The sum is", sum)

32
The sum is 528

Calclate the m of number from 1 to 10 using a while loop.

In [19]:
i=0
sum=0
while i<11:
    sum = sum+i
    i += 1
print(sum)

55

In [3]:
# Calclate the factorial of a nmber ing a for loop.
def factorial(n):
    result = 1
    for i in range(1, n + 1):
        result *= i
    return result

number = 5
print(f"The factorial of {number} is {factorial(number)}")

The factorial of 5 is 120

In [6]:
#Q4 Count the nmber of vowel in a tring ing a for loop.
def count_vowels(s):
    vowels = 'aeiouAEIOU'
    count = 0
    for char in s:
        if char in vowels:
         
            count += 1
    
    return count


input_string = "Hello, World!"
print(f"The number of vowels in '{input_string}' is {count_vowels(input_string)}")

The number of vowels in 'Hello, World!' is 3

In [8]:
#Q5Print a pattern using nested loop.

row = 1
while row <= 4:
    col = 1
    while col <= row:
        print("*", end=" ")
        col += 1
    print()
    row += 1

*
* *
* * *
* * * *

In [4]:
#Q6Generate a mltiplication table using nested loop.
def generate_multiplication_table(n):
    for i in range(1, n + 1):
        for j in range(1, n + 1):
            print(f"{i * j:4}", end=" ") #:4 using  gap in table
        print()


generate_multiplication_table(10)

   1    2    3    4    5    6    7    8    9   10
   2    4    6    8   10   12   14   16   18   20
   3    6    9   12   15   18   21   24   27   30
   4    8   12   16   20   24   28   32   36   40
   5   10   15   20   25   30   35   40   45   50
   6   12   18   24   30   36   42   48   54   60
   7   14   21   28   35   42   49   56   63   70
   8   16   24   32   40   48   56   64   72   80
   9   18   27   36   45   54   63   72   81   90
  10   20   30   40   50   60   70   80   90  100