# ASSINMENT QUESTION

# PYTHON TYPE CONVERSION

Q1  Convert a integer to a floatig-point Number.

In [3]:
a = float(12)
print(a)

12.0

Q2 Convert a float to a integer.

In [4]:
b = int(12.65)
print(b)

12

Q3 Convert a integer to a String.

In [5]:
c = str(12)
print(c)

12

Q4  Convert a list to a tuple.

In [6]:
list1 = [1,2,3,4]
tup = tuple(list1)
print(tup)

(1, 2, 3, 4)

Q5 Convert a tuple to a list.

In [7]:
tup1=(1,2,3,4,5)
list2=list(tup1)
print(list2)

[1, 2, 3, 4, 5]

Q6 Convert a decimal umber to binary.

In [8]:
binary = bin(9)
print(binary)

0b1001

Convert a Non-zero number to boolean.

In [10]:
n= bool(8)
print(n)

True